/* /* font-family: 'Baloo Thambi 2', cursive;
font-family: 'Nunito', sans-serif;
font-family: 'Roboto Slab', serif;
font-family: 'Fuggles', cursive;
font-family: 'Roboto', sans-serif; */

/* #E93B81 Pink Color */
/* #646464 Dark Gray*/

/* .site {
    margin: 0;
    padding: 0;
} */

body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    font-family: 'Roboto', sans-serif;
    /* background-color: aqua; */
}

.site {
    /* margin: 0 auto;
    max-width: 1280px; */
    overflow: hidden;
}

.homepage {
    height: 100vh;
    overflow: hidden;
    /* background-color: brown; */
    /* background: url("/Files/img/Path\ 1.svg"); */
    /* background-repeat: no-repeat;
    background-position-x: 130%;
    background-position-y: 80%; */
    max-width: 100%;
    max-height: 100%;
    width: 100%;
}

header {
    max-width: 1280px;
    margin: 0 auto;
}

/********** Navigation Bar **********/

.navbar{
    margin-top: 20px;
}
.navbar-nav{
    margin-left: auto;
}

.navbar-brand {
    font-size: 32px;
    font-family: 'Roboto Slab', serif;
    font-weight: 500;
}

.navbar-brand span{
    color: #E93B81;
} 

.nav-item{
    margin-right: 1.5rem;
}

.nav-link{
    /* font-family: 'Nunito', sans-serif; */
    font-size: 1.2rem;
    font-weight: 900;
}

.navbar-light .navbar-nav .nav-link {
    color: #687450;

}

.hero {
    margin: 60px auto;
    text-align: center;
}

.hero .hero-man {
    margin-bottom: 40px;
}

.hero .hero-man img{
    max-width: 600px;
    width: 100%;
}

/* .hero-man {
    position: absolute;
    margin: 30% 10% 30% 15%;
} */

/* .hero-man img{
    height: 400px;
} */

/* Hero Text */
/* .herotext{
    position: absolute;
    margin: 15% 0 0 8%;
} */

.btn {
    width: 130px;
    padding: 10px;
}

.herotext .hero-name{
    font-family: 'Fuggles', cursive;
    color: #E93B81;
    font-size: 7rem;
    font-weight: bold;
}

.herotext .name {
    font-family: 'Nunito', sans-serif;
    color: #646464;
    font-weight: bold;
    /* font-style: italic; */
}

.btn-primary{
    border-radius: 30px;
    background: linear-gradient(90deg, rgba(200,206,255,1) 0%, rgba(150,255,247,1) 56%);background: linear-gradient(90deg, rgba(173,182,255,1) 0%, rgba(150,255,247,1) 56%);background: linear-gradient(90deg, rgba(129,143,255,1) 3%, rgba(150,255,247,1) 56%);background : linear-gradient(90deg, rgba(129,143,255,1) 15%, rgba(150,255,247,1) 82%);;
    border: 0;
    color: #505050;
    margin-top: 15px;
    font-size: 15px;
}

/********** Navigation Bar **********/

/********** About Me Section **********/

h2 {
    color: #424242; 
    margin: 28px 0;
}

.about-me{
    margin-bottom: 90px;
}

p {
    color: #646464;
    line-height: 2rem;
    font-size: 22px;
}


.about-me .container {
    margin-top: 150px;
    margin-bottom: 130px;
}

/*
.row {
    display: inline-block;

}
*/

.row p {
    max-width: 1900px;
}

.about-row{
    text-align:start;
}

.col-5 img {
    position: absolute;
    border-radius: 50%;
    height: 300px;
    width: 300px;
    /* margin-top: 10px; */
    margin-left: 200px;
}

/************ Skills Section **************/

.skills {
    margin: 120px auto;
    margin-bottom: 160px;
}

.skills .container img {
    height: 40px;
    margin-left: 20px;
}

.progress-bar {
    background-image: linear-gradient(to left, #62f1fe,
     #39dcff, #82beff, #d095fe, #ff65b8);
    border-radius: 5%;
}

.skill {
    align-items: center;
    margin-left: 60px;
    margin-top: 50px;
}





/************ Projects Section **************/

.projects {
    margin: 115px auto 195px;
}

.card-own {
    height: 416px;
    width: 350px;
    background-color: rgb(75, 175, 200);
    border-radius: 70px;
    text-align: center;
    padding: auto;
    margin-top: 50px;

    /* padding: 50%; */
}

/* .prj-icon{
} */

.prj-icon img{
    margin: 40px auto;
    height: 200px;
    mix-blend-mode: soft-light;

}

h3, h5 {
    font-family: 'Roboto', sans-serif;
    color: #4e4e4e;
    font-weight: 600;
    opacity: 0.9;
    mix-blend-mode:hard-light;
}

.prj-name{
    margin:15px auto 30px;
}


.card1 {
    background-image: linear-gradient(to left bottom, #ffb090, #ff9f94,
     #ff8ea4, #ff80bc, #ff79db);
}

.card2 {
    background-image: linear-gradient(to left bottom, #90ffa5, #00f0d7,
     #00d9ff, #00b9ff, #818fff);
}

.card3{
    background-image: linear-gradient(to left bottom, #8edbff, #80c6ff,
     #a1a9ff, #d580f2, #ff46b8);
}




/* .mainheading {
    color: #E93B81;
    font-family: 'Fuggles', cursive;
    font-size: 6rem;
    font-weight: bold;
    margin: 0%;
} */
/* 
.name {
    color: #646464;
    font-family: 'Roboto Slab', sans-serif;
    font-size: 1.7rem;
    font-style: italic;
    margin: 0%;
} */

/* .maintext {
    position: absolute;
    margin-top: 15%;
    margin-left: 18%;
    /* margin-bottom: 10%; 
} */

/* .logo-vb97 {
    color: #646464;
    font-family: 'Roboto Slab', sans-serif;
    font-size: 2.5rem;
    font-weight: 600;
} */

/* .logo-vb97 span {
    color: #E93B81;
} */

/* .navbar-brand {
    margin-left: 10%;
} */

/* .navbar {
    position: relative;
    margin-left: 15%;
} */

/* .navbar-nav{
    position: relative;
    margin-right: 15%;
} */

/* .navbar-expand-lg .navbar-nav .nav-link{
    color: rgb(173 48 48);
    padding-right: 2rem;
    font-size: 1.2rem;
} */

/* .hero-bg {
    position: absolute;
    margin-left: 35%;
    margin-top: -22%;
    z-index: -1;
} */

/* .hero-man{
    position: absolute;
    width: 30%;
    margin-left: 30%;
    /* margin-bottom: 50%; 
    margin-top: 31%;
} */
